<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoggedIn</title>
</head>
<body>
    <div>
        <h4>You have successfully logged in! Welcome, @(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")!</h4> 
    </div>
</body>
</html>
