@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Daily Running total members for the region/Zone</h2>
        <p>
            Need to insert a table here
        </p>
    </div>
    <div class="col-md-4">
        <h2>Notice Board here</h2>
        <p>Box setup that allows comments</p>
    </div>
    <div class="col-md-4">
        <h2>two tables here</h2>
        <p>Top 5 teams</p>
        <p>Top 5 regions</p>
    </div>

    <!-- Makeshift Membership graph button for now-->
    <input type="button" value="membership Graph" onclick="location.href='@Url.Action("membershipGraph", "Graph")'" class="btn btn-default" />

</div>