
@{
    ViewBag.Title = "UMHome";
}

<h2>UMHome</h2>
<div>
    
    <input type="button" value="Manage Users" onclick="location.href='@Url.Action("Index","Users")'" class="btn btn-default" />
    <input type="button" value="membership Graph" onclick="location.href='@Url.Action("membershipGraph", "Graph")'" class="btn btn-default" />
</div>

