@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using ICTProject.Models.DBC;
@using ICTProject.Data;
@using System.Web.Security;
@using System.Web.UI.WebControls;
@using ICTProject.Views;
@{ 
    ViewBag.Title = "topGunsNightly";
}

<h2>topGunsNightly</h2>

<table style="width:100%;">
    <tr>
        <td>&nbsp;Filler Row Attendance</td>
        <td>&nbsp;Members</td>
        <td>&nbsp;Regional Manager ID</td>
    </tr>
    @{
        using (DbcContext db = new DbcContext())
        {

            // Query Zone.
            var zoneQuery =
                from currentUser in db.Users
                where currentUser.Username == User.Identity.Name
                select currentUser;


            //  int zoneID = zoneQuery.First();

            // Query for daily data.
            IQueryable<DailyData> dataQuery =
            from data in db.DailyData
            where data.zoneID == zoneQuery.FirstOrDefault().ZoneId.ZoneId
            select data;


            foreach (DailyData data in dataQuery)
            {
                <tr>
                    <td>&nbsp;@data.Attendance</td>
                    <td>&nbsp;@data.Members</td>
                    <td>&nbsp;@data.rmID</td>
                </tr>

            }

        }

    }
</table>