
<!--- model IEnumerable<ICT_Project.Models.RecordViewModels>  -->
@model IEnumerable<ICT_Project.Models.DBC.SdcDetails>

@{
    ViewBag.Title = " RM Home Page";
    @Html.Partial("RM_Partial")
}
<div class="jumbotron">
    
    <h1>Howland Computer Services</h1>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>Daily Running total members for the region/Zone</h2>
        <table class="tab">

                
            
        </table>

    </div>
    <div class="col-md-4">
        <h2>Notice Board here</h2>
        <p>Box setup that allows comments</p>

    </div>
    <div class="col-md-4">
        <h2>two tables here</h2>
        <p>Top 5 teams</p>
        <p>Top 5 regions</p>
    </div>
</div>